* {
    padding: 0;
    margin: 0;
    font-family: Tahoma, Geneva, sans-serif;
}
.wrapper {
    overflow: hidden;
  }
.container {
    display: flex;
    /*flex-wrap: nowrap;*/
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1040px;
    text-align: center;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}
.logo {
    border-radius: 50%;
    background-image: url(../img/photo_2020-10-04_21-32-32\ \(2\).jpg);
    background-size: cover;
    width: 70px;
    height: 70px;
}
.block {
    background-repeat: no-repeat;
    background-size: cover;
    height: 223px;
    margin: 21px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.padding {
    padding-bottom: 81px;
}
img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: auto;
  }