.main_button {
    border: 1.2px solid #fff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 10px 20px;
    background: none;
    color: #fff;
}
.main_button:hover {
    opacity: 0.7;
    background-color: #fff;
    color: #333;
    border: 1.2px solid transparent;
}
.main_button_second {
    opacity: 0.5;
    background-color: #fff;
    color: #333;
    border: 1.2px solid transparent;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 10px 20px;
}
.main_button_second:hover {
    border: 1.2px solid #fff;
    background: none;
    color: #fff;
}